<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Detalles</th>

      <!-- <th>Detalle</th> -->
      <th>Publicaciones</th>
      <!-- <th>Estado</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td class="pt-2">{{ user.id }}</td>
      <td class="pt-2">{{ user.name }}</td>

      <td>
        <a [routerLink]="['/users/user/', user.id]" class="btn btn-outline-success">Ver más</a>
      </td>
      <td>
        <a [routerLink]="['/users/by/', user.id]" class="btn btn-outline-success">Ver más</a>
      </td>
    </tr>
  </tbody>
</table>
